# --- Database Configuration ---
# Format: postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL=postgresql://postgres:password@host.docker.internal:5432/data_sewain

# JWT
SECRET_KEY=your-secret-key-minimum-32-characters
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173

# Port untuk menjalankan API server
APP_PORT=8000

# Environment
APP_ENV=development